<div class="custom-section">
  
</div>
{% schema %}
{
  "name": "Pwc Marquee",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 20,
      "settings": [
        {
          "type": "text",
          "id": "new_text",
          "default": "Welcome to store",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Desktop Text Style"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#ffffff"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Pwc Marquee",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "new_text": "Welcome to our store",
          }
        }
      ]
    }
  ]
}
{% endschema %}