<div class="custom-section">
  
</div>

<div class="custom-section">
  {% for block in section.blocks %}
    <div class="block-item" style="color: {{ block.settings.text_color }}">
      {% if block.type == 'text' %}
        <p>{{ block.settings.heading }}</p>
      {% elsif block.type == 'heading' %}
        <h2>{{ block.settings.heading }}</h2>
      {% elsif block.type == 'form' %}
        <form action="#" method="post">
          <input type="text" placeholder="Enter your text">
          <button type="submit">Submit</button>
        </form>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Pwc Marquee",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 20,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Welcome to store",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Main Heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "form",
      "name": "Form",
      "settings": [
        {
          "type": "text",
          "id": "placeholder",
          "default": "Enter your text",
          "label": "Placeholder Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Group"
    },
    {
      "name": "Column",
      "settings": {},
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "heading"
        },
        {
          "type": "form"
        }
      ]
    }
  ]
}
{% endschema %}

