
@media screen and (max-width: 749px) {
  .pc-background-none .pc-slider .pc-multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .pc-multicolumn.pc-background-none .pc-slider.pc-slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  /* .pc-background-none .pc-multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  } */

  .pc-background-none .pc-multicolumn-list .pc-multicolumn-card__info,
  .pc-background-none .pc-multicolumn-list:not(.pc-slider) .pc-center .pc-multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.pc-multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.pc-multicolumn-card > .pc-multicolumn-card__image-wrapper--full-width:not(.pc-multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.pc-multicolumn.pc-background-none .pc-multicolumn-card {
  border-radius: 0;
}

.pc-multicolumn-card__info .pc-link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.pc-multicolumn-card__info .pc-icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .pc-multicolumn-list__item--empty {
    display: list-item;
  }
}

/* Star-Rating */

.pc-rating {
  unicode-bidi: bidi-override;
  direction: ltr;
  width: 100%
}

.pc-star {
  font-size: 20px;
  padding: 2px 4px;
  border-radius: 3px;
}

.pc-star.pc-filled {
  color: #ffcc00;
}

.pc-multicolumn-card {
    box-shadow: 0 0 6.8px #00000026;
    border-radius: 12px !important;
}

.pc-media img {
    border-radius: 5px;
}
.pc-media img {
    width: 100% !important;
}

.pc-pc-rating .pc-pc-star {
    font-size: 27px;
    text-shadow: 2px 2px 4px #af9191;
}

.pc-rte {
    padding: 5px;
    text-align: center;
}
